.otzyvy{
    border-bottom: 3px solid #c1c1c1;
    padding: 40px 0;
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #c3d5db 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#c3d5db 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%,#c3d5db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c3d5db',GradientType=0 );
}
.otzyvy h4{
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid #00b3ee;
    padding-bottom: 15px;
    color: #575757;
}
.otzyvy h5{
    font-size: 1.5em;
    font-weight: bold;
}
.otzyvy .panel{
    padding-bottom: 15px;
}